{% extends "courses/header.html" %}
{% block content %}

	<hr>
	<p><b>View Course</b></p>
	<div id="viewCourses">
		<!-- To be completed -->
	</div>
	<script type="text/javascript">
		console.log("Load Courses");
		var endpoint = "http://localhost:8000/courses/";
		var xmlHttp = new XMLHttpRequest();
		xmlHttp.onreadystatechange = function() {
		 	if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
		 		var data = JSON.parse(JSON.parse(xmlHttp.responseText));
		 		$.each(data, function(index, value) {
		 			$("#viewCourses").append("<div style='line-height:50%'><h3>" + value.fields.courseCode + ": " + value.fields.title + "</h3><p> Category: " + value.fields.category + "</p><p> Description: " + value.fields.description + "</p></div>");
		 		
		 			if (!value.fields.isPublished) {
		 				$("#viewCourses").append("<button type='button'>Publish</button>");
		 			}

		 			$("#viewCourses").append("<br/>");
		 		});
		 	}
		}
		xmlHttp.open("GET", endpoint, true);
		xmlHttp.send();
	</script>

	<hr>
	<p><b>Add Course</b></p>
	<form id="addCourseForm">
		Instructor: <input type="text" name="instructor" value="Instructor Name" > <br>
		Course Code: <input type="text" name="courseCode" value="Course Code" > <br>
		Category: <input type="text" name="category" value="Course Category" > <br>
		Published: <input type="text" name="isPublished" value="False" > <br>
		Title: <input type="text" name="title" value="Course Title" > <br>
		Description: <input type="text" name="description" value="Course Description" > <br>
	</form>
	<button onclick="addCourse()">Add Course</button>
	<script type="text/javascript">
		function addCourse() {
			var form = document.getElementById('addCourseForm');
			var endpoint = "http://localhost:8000/courses/addCourse/"+"?instructor="+form.instructor.value+"&courseCode="+form.courseCode.value+"&category="+form.category.value+"&isPublished="+form.isPublished.value+"&title="+form.title.value+"&description="+form.description.value;

			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function() {
			 	if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
			 		var data = JSON.parse(JSON.parse(xmlHttp.responseText));
		 			$("#viewCourses").append("<div style='line-height:50%'><h3>" + data[0].fields.courseCode + ": " + data[0].fields.title + "</h3><p> Category: " + data[0].fields.category + "</p><p> Description: " + data[0].fields.description + "</p></div>");
		 		
		 			if (!data[0].isPublished)
		 				$("#viewCourses").append("<button type='button'>Publish</button>");

		 			$("#viewCourses").append("<br/>");
			 	}
			}
			xmlHttp.open("GET", endpoint, true);
			xmlHttp.send();
		}
	</script>

	<hr>
	<p><b>View Modules</b></p>
	<div id="viewModules" >
		<!-- To be completed -->
	</div>

	<hr>
	<p><b>Add Module</b></p>
	<form id="addModuleForm">
		Course Code: <input type="text" name="courseCode" value="Course Code" > <br>
		Module Title: <input type="text" name="moduleTitle" value="Module Title" > <br>
		Sequence Number: <input type="text" name="sequenceNumber" value="Module Sequence Number" > <br>
	</form>
	<button onclick="addModule()">Add Module</button>
	<script>
		function addModule() {
			var form = document.getElementById('addModuleForm');
			var endpoint = "http://localhost:8000/courses/"+form.courseCode.value+"/addModule"+"?moduleTitle="+form.moduleTitle.value+"&sequenceNumber="+form.sequenceNumber.value;

			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function() {
			 	if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
			 		var data = JSON.parse(JSON.parse(xmlHttp.responseText));
			 		$.each(data, function(index, value) {
		 				$("#viewModules").append("<h3>" + value.fields.courseCode + ": " + value.fields.moduleTitle + "</h3>");
		 			});
			 	}
			}
			xmlHttp.open("GET", endpoint, true);
			xmlHttp.send();
		}
	</script>

	<hr>
	<p><b>View Components</b></p>
	<div id="viewComponents" >
		<!-- To be completed -->
	</div>

	<hr>
	<p><b>Add Component</b></p>
	<form id="addComponentForm">
		Course Code: <input type="text" name="courseCode" value="Course Code" > <br>
		Module Title: <input type="text" name="moduleTitle" value="Module Title" > <br>
		Order: <input type="text" name="order" value="Component Order" > <br>
		Content Type: <input type="text" name="contentType" value="Content Type" > <br>
		Content Title: <input type="text" name="contentTitle" value="Content Titlee" > <br>
		Content: <input type="text" name="content" value="Content" > <br>
	</form>
	<button onclick="addComponent()">Add Component</button>
	<script>
		function addComponent() {
			var form = document.getElementById('addComponentForm');
			var endpoint = "http://localhost:8000/courses/"+form.courseCode.value+"/modules/"+form.moduleTitle.value+"/addComponent"+"?order="+form.order.value+"&contentType="+form.contentType.value+"&contentTitle="+form.contentTitle.value+"&content="+form.content.value;

			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function() {
			 	if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
			 		console.log(xmlHttp.responseText);
			 		var data = JSON.parse(JSON.parse(xmlHttp.responseText));
			 		$.each(data, function(index, value) {
		 				$("#viewComponents").append("<div style='line-height:50%'><h3>" + value.fields.courseCode + ": " + value.fields.moduleTitle + ": " + value.fields.contentTitle + "</h3><p>" + value.fields.content + "</p></div>");
		 			});

			 	}
			}
			xmlHttp.open("GET", endpoint, true);
			xmlHttp.send();
		}
	</script>

	<hr>
	<p><b>Publish Course - Not suppoted yet</b></p>

{% endblock %}