{% extends "courses/header.html" %}
{% block content %}
	<p>View Course</p>
	{% for c in courses %}
		<p>{{c}}</p>
	{% endfor %}

	<hr>
	<p>Add Course</p>
	<form action="addCourse" method="GET">
		Instructor: <input type="text" name="instructor" value="AK47" > <br>
		Instructor: <input type="text" name="courseCode" value="1234" > <br>
		Instructor: <input type="text" name="category" value="C.S." > <br>
		Instructor: <input type="text" name="isPublished" value="True" > <br>
		Instructor: <input type="text" name="title" value="title1" > <br>
		Instructor: <input type="text" name="description" value="description1" > <br>
		<input type="submit">
	</form>

	<hr>
	<p>Add Module</p>
<!-- 	<form action="addCourse" method="GET">
		Instructor: <input type="text" name="instructor" value="AK47" > <br>
		Instructor: <input type="text" name="courseCode" value="1234" > <br>
		Instructor: <input type="text" name="category" value="C.S." > <br>
		Instructor: <input type="text" name="isPublished" value="True" > <br>
		Instructor: <input type="text" name="title" value="title1" > <br>
		Instructor: <input type="text" name="description" value="description1" > <br>
		<input type="submit">
	</form> -->

	<hr>
	<p>Add Component</p>
<!-- 	<form action="addCourse" method="GET">
		Instructor: <input type="text" name="instructor" value="AK47" > <br>
		Instructor: <input type="text" name="courseCode" value="1234" > <br>
		Instructor: <input type="text" name="category" value="C.S." > <br>
		Instructor: <input type="text" name="isPublished" value="True" > <br>
		Instructor: <input type="text" name="title" value="title1" > <br>
		Instructor: <input type="text" name="description" value="description1" > <br>
		<input type="submit">
	</form> -->

	<hr>
	<p>Publish Course</p>
<!-- 	<form action="addCourse" method="GET">
		Instructor: <input type="text" name="instructor" value="AK47" > <br>
		Instructor: <input type="text" name="courseCode" value="1234" > <br>
		Instructor: <input type="text" name="category" value="C.S." > <br>
		Instructor: <input type="text" name="isPublished" value="True" > <br>
		Instructor: <input type="text" name="title" value="title1" > <br>
		Instructor: <input type="text" name="description" value="description1" > <br>
		<input type="submit">
	</form> -->


	<hr>
	<p>Enroll Course</p>
<!-- 	<form action="addCourse" method="GET">
		Instructor: <input type="text" name="instructor" value="AK47" > <br>
		Instructor: <input type="text" name="courseCode" value="1234" > <br>
		Instructor: <input type="text" name="category" value="C.S." > <br>
		Instructor: <input type="text" name="isPublished" value="True" > <br>
		Instructor: <input type="text" name="title" value="title1" > <br>
		Instructor: <input type="text" name="description" value="description1" > <br>
		<input type="submit">
	</form> -->
{% endblock %}